@using ReportViewer.Helpers
@{


    Layout = null;
    var data = ViewBag.BillData;
    var balance = ViewBag.Balance;
    var challans = ViewBag.ChallansWithDate;
    var imagepath = data.Tables[0].Rows[0]["CompanyLogo"];
    var signature = data.Tables[0].Rows[0]["Signature"];
    var balanceTable = ViewBag.BalanceTable;
    var firstRow = data.Tables[0].Rows[0];

    var taxes = data.Tables[1];
    var breakageItems = data.Tables[2];

    var lossItems = data.Tables[3];
    var charges = data.Tables[4];

    var billingConfig = BillingConfigViewHelper.AsEnumerable(ViewBag.ConfigData);
    var showClientMobileMode = BillingConfigViewHelper.GetContactShowMode(billingConfig, "showClientMobile");
    var showClientEmailMode = BillingConfigViewHelper.GetContactShowMode(billingConfig, "showClientEmail");
    var showClientPinMode = BillingConfigViewHelper.GetContactShowMode(billingConfig, "showClientPin");
    var showPONumberMode = BillingConfigViewHelper.GetContactShowMode(billingConfig, "showPONumber");
    var showDetailedDayCalculation = BillingConfigViewHelper.GetBool(billingConfig, "showDetailedDayCalculation", true);
    var billPeriodText = BillingConfigViewHelper.GetValue(billingConfig, "billPeriodText", "Bill Period");

    var subTotal = data.Tables[0].Compute("Sum(SubTotal)", "");
    var rowsToSpanAtBottom = 2 + 3 + charges.Rows.Count;
    if (Convert.ToDecimal(firstRow["discount"]) > 0)
    {
        rowsToSpanAtBottom = rowsToSpanAtBottom + 1;
    }
    var minDate = data.Tables[0].Compute("Min(From)", "");
    var lastDate = data.Tables[0].Compute("Max(To)", "");
    var IGST = data.Tables[0].Compute("Sum(IGST)", "");
    var CGST = data.Tables[0].Compute("Sum(CGST)", "");
    var SGST = data.Tables[0].Compute("Sum(SGST)", "");
    decimal lossCharges = 0;
    decimal breakageCharges = 0;
    decimal total = 0;
    var excessQty = data.Tables[0].Select("ExcessQty > 0");
    if (lossItems != null && lossItems.Rows.Count > 0)
    {
        IGST += lossItems.Compute("Sum(IGST)", "");
        SGST += lossItems.Compute("Sum(SGST)", "");
        CGST += lossItems.Compute("Sum(CGST)", "");
        lossCharges = lossItems.Compute("Sum(Amount)", "");
        rowsToSpanAtBottom++;
    }
    if (breakageItems != null && breakageItems.Rows.Count > 0)
    {
        IGST += breakageItems.Compute("Sum(IGST)", "");
        SGST += breakageItems.Compute("Sum(SGST)", "");
        CGST += breakageItems.Compute("Sum(CGST)", "");
        breakageCharges = breakageItems.Compute("Sum(SubTotal)", "");
        //rowsToSpanAtBottom++;
    }
    total = subTotal + +IGST + CGST + SGST + lossCharges + breakageCharges;
    total += firstRow["Freight"] + firstRow["FreightTax"] + firstRow["ChargesTax"];
    if (firstRow["Freight"] > 0)
    {
        rowsToSpanAtBottom += 1;
    }
    if (firstRow["FreightTax"] > 0)
    {
        if (IGST == 0)
        {
            SGST += firstRow["FreightTax"] / 2;
            CGST += firstRow["FreightTax"] / 2;

        }
        else
        {
            IGST += firstRow["FreightTax"];
        }
    }
    if (firstRow["ChargesTax"] > 0)
    {
        if (IGST == 0)
        {
            SGST += firstRow["ChargesTax"] / 2;
            CGST += firstRow["ChargesTax"] / 2;

        }
        else
        {
            IGST += firstRow["ChargesTax"];
        }
    }
    if (charges != null && charges.Rows.Count > 0)
    {
        total += charges.Compute("Sum(Amount)", "");
    }
    total -= (firstRow["discount"] + firstRow["breakageDiscount"] + firstRow["lossDiscount"]);
    total = Math.Round(total, MidpointRounding.AwayFromZero);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Billing</title>
    <style>
        body {
            font-family: arial;
            font-size: 12pt !important;
            color: #111;
            margin: 0;
            padding: 0;
            height: 100vh;
        }
        @@media print {
            body {
                font-family: arial;
                font-size: 12pt !important;
                color: #111;
                margin: 0;
                padding: 0;
                height: 100vh;
            }

            .page {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 258mm; /* A4 (297mm) - top/bottom margins (20mm each) */
                box-sizing: border-box;
                page-break-after: always;
                padding: 0;
            }

                .page:last-of-type {
                    page-break-after: auto;
                }

            header {
                text-align: center;
                font-size: 12pt;
                font-weight: bold;
                padding-top: 10mm;
            }

            .content {
                flex: 1;
                height: 95%;
                padding-top: 0px;
                padding-left: 0;
                padding-right: 0;
                padding-bottom: 0;
            }

            .footer {
                text-align: center;
                font-size: 12px;
                padding: 5mm 0 0;
                margin-top: 5mm;
            }
            /* Hide footer on all pages except the last */
            /*  .page:not(:last-of-type) .footer {
               display: none;
           }
        */
            .text-right {
                text-align: right;
            }
            /*

           */
            .table-container {
                height: 100%;
                display: table;
                width: 100%;
                table-layout: fixed;
                border-collapse: collapse;
                font-size: 12px !important;
                font-family: arial !important;
            }

            .table-header {
                display: table-header-group;
            }

            .repeat-header {
                display: table-header-group;
            }

            .address-row {
                display: table-row-group;
            }

            .table-body {
                display: table-row-group;
                height: 100%;
            }

            .table-row {
                display: table-row;
            }

            td {
                font-size: 12px !important;
            }

            .table-cell {
                display: table-cell;
                padding: 5px;
                border: 1px solid #000;
                font-size: 12px !important;
                vertical-align: top;
            }
            /* Spacer row to fill space */
            .spacer-row {
                height: 100%;
            }

                .spacer-row .table-cell {
                    border: 1px solid #000;
                }

            .text-center {
                text-align: center;
            }

            .firstRow {
                border-top: solid 1px;
            }

            .border {
                border: solid 1px #000;
            }

            .headertable, .address-table {
                font-size: 12pt !important;
            }
            .addresstd {
                font-size: 12pt !important;
            }
            .breakage {
            }
              @Html.Raw(ViewBag.Style)
        }
    </style>
</head>
<body>

    @*<header>Confidential Report (continued)</header>*@
    <table style="width:100%;margin:0px;" class="headertable" cellpadding="0" cellspacing="0">

        <tr>
            <td class="compAddr">Bill Period: @BAL.Objects.Utils.FormatDate(minDate) -  @BAL.Objects.Utils.FormatDate(lastDate)</td>
            <td class="compAddr">Date:   @BAL.Objects.Utils.FormatDate(@firstRow["InvoiceDate"])</td>
        </tr>
        <tr>
            <td colspan="2">
                <table width="100%" style="border-collapse: collapse; margin: 0px;">
                    <tr>
                        <td style="text-align: left;border:solid 1px; font-weight: normal; width:499px;border-bottom:none;">
                            <label style="font-weight:bold;font-size:12pt;">Bill To</label>
                            <div>
                                @if (Convert.ToInt16(firstRow["BillFromSiteAddress"]) == 1)
                                {
                                    <table style="width:100%;" class="address-table">
                                        <tr><td class="addresstd"><strong>@firstRow["ClientBillToName"]</strong></td></tr>
                                        <tr><td class="addresstd">@firstRow["SiteProject"] @firstRow["SiteAddress"]  @firstRow["SiteAddress2"]</td></tr>
                                        <tr><td class="addresstd">@firstRow["City"] (@firstRow["SiteState"])@if (BillingConfigViewHelper.ShouldShowContactField(showClientPinMode, firstRow["SiteZipCode"])) { <text> Pin:- @firstRow["SiteZipCode"] </text> }</td></tr>
                                        <tr><td class="addresstd" style=""> GSTIN: @firstRow["SiteGST"]@if (BillingConfigViewHelper.ShouldShowContactField(showClientMobileMode, firstRow["ClientPhone"])) { <text>, Mobile: @firstRow["ClientPhone"]</text> }@if (BillingConfigViewHelper.ShouldShowContactField(showClientEmailMode, firstRow["ClientEmail"])) { <text>, Email: @firstRow["ClientEmail"]</text> }</td></tr>
                                    </table>
                                }
                                else
                                {
                                    <table style="width:100%;" class="address-table">
                                        <tr><td class="addresstd"><strong>@firstRow["ClientBillToName"]</strong></td></tr>
                                        <tr><td class="addresstd">@firstRow["ClientAddress1"] @firstRow["ClientAddress2"]</td></tr>
                                        <tr><td class="addresstd">@firstRow["ClientCity"] (@firstRow["ClientStateName"])@if (BillingConfigViewHelper.ShouldShowContactField(showClientPinMode, firstRow["ClientZipCode"])) { <text> Pin:- @firstRow["ClientZipCode"] </text> }</td></tr>
                                        <tr><td class="addresstd" style=""> GSTIN: @firstRow["ClientGST"]@if (BillingConfigViewHelper.ShouldShowContactField(showClientMobileMode, firstRow["ClientPhone"])) { <text>, Mobile: @firstRow["ClientPhone"]</text> }@if (BillingConfigViewHelper.ShouldShowContactField(showClientEmailMode, firstRow["ClientEmail"])) { <text>, Email: @firstRow["ClientEmail"]</text> }</td></tr>
                                    </table>
                                }

                            </div>
                            @if (BillingConfigViewHelper.ShouldShowContactField(showPONumberMode, firstRow["PONumber"]))
                            {
                                <strong>Customer PO Number:</strong> @firstRow["PONumber"]
                                <strong>| PO Date:</strong> @BAL.Objects.Utils.FormatDate(firstRow["PODate"])
                            }
                        </td>
                        <td style="text-align: left; border: solid 1px; font-weight: normal; border-bottom: none;">
                            <label style="font-weight:bold;font-size:12pt;">Ship To</label>
                            <table style="width:100%">
                                <tr><td class="addresstd">@firstRow["SiteProject"]</td></tr>
                                <tr><td class="addresstd">@firstRow["SiteAddress"] @firstRow["SiteAddress2"]</td></tr>
                                <tr><td class="addresstd">@firstRow["City"] @firstRow["SiteState"]@if (BillingConfigViewHelper.ShouldShowContactField(showClientPinMode, firstRow["SiteZipCode"])) { <text> Pin:-  @firstRow["SiteZipCode"]</text> }, Contact:@firstRow["ContactPerson"], Mob:@firstRow["ContactPersonPhone"]  </td></tr>
                                @*<tr><td class="addresstd" style="border-top: solid 1px;"><label style="font-weight:bold;font-size:12px;">Challans</label></td></tr>
                                <tr>
                                    <td style="font-size:11px;">
                                        @challans
                                    </td>
                                </tr>*@
                            </table>
                        </td>
                    </tr>
                </table>
            </td>

        </tr>
    </table>
    <div class="page">
        <div class="content">

            <table class="table-container">
                <colgroup>
                    <col style="width: 301px;">
                    <col style="width: 80px;">
                    <col style="width: 70px;">

                    <col style="width: 40px;">
                    <col style="width: 50px;">
                    <col style="width: 60px;">
                    <col style="width: 80px;">
                </colgroup>


                <tbody class="table-body">
                    <tr class="table-row">
                        <th class="table-cell" style="width:70mm;border-right:none;">Description</th>
                        <th class="table-cell" style="width: 0.5in !important; border-left: none;">@billPeriodText</th>
                        <th class="table-cell" style="width:70px;">SAC Code</th>
                        <th class="table-cell" style="width:40px;">Days</th>
                        <th class="table-cell" style="width:50px;">Number</th>
                        <th class="table-cell" style="width:60px;">Rate</th>
                        <th class="table-cell" style="width:80px;">Amount</th>
                    </tr>
                    @{
                        foreach (var g in ViewBag.UniqueItems)
                        {

                            string borderCss = "firstRow";
                            string item = "";
                            int x = 0;
                            foreach (var row in data.Tables[0].Select("ProductId = " + g.ToString()))
                            {
                                if (x == 0)
                                {
                                    item = Convert.ToString(row["Item"]);
                                }
                                else
                                {
                                    item = "";
                                }
                                x++;
                                if (Convert.ToDouble(row["SubTotal"]) == 0)
                                {
                                    if (ViewBag.hideZeroAmountItem)
                                    {
                                        continue;
                                    }
                                }
                                var variance = (Convert.ToInt32(@row["CB"]) - Convert.ToInt32(@row["Quantity"]));
                                <tr class="table-row">
                                    <td class="@borderCss noborder_b" style="padding: 7px 3px; border-left: solid 1px;">
                                        @if (variance != 0)
                                        {
                                            if (showDetailedDayCalculation && !String.IsNullOrEmpty(Convert.ToString(row["qtyCalculation"])))
                                            {
                                                <div style="font-size:12px;">
                                                    @item (
                                                    @row["qtyCalculation"]
                                                    ) =   @row["CB"]
                                                </div>
                                            }
                                            else
                                            {
                                                <div style="font-size:12px;">
                                                    @item (
                                                    @variance
                                                    @(Convert.ToInt32(@row["Quantity"]) > 0  ? "+" : "")  @row["Quantity"]
                                                    ) =   @row["CB"]
                                                </div>
                                            }

                                        }
                                        @if (variance == 0)
                                        {
                                            <span style="font-size: 12px;">
                                                @item
                                            </span>
                                        }
                                        @if (Convert.ToInt16(row["rateCalcType"]) == 2 && row["Days"] > 1)
                                        {
                                            <span style="font-size:11px;">
                                                @row["Days"]-Days@@ @row["MasterRentRate"]/-PM
                                            </span>
                                        }
                                    </td>

                                    <td class="@borderCss noborder_bl text-center">@row["Period"]</td>
                                    <td class="border noborder_bl table-cell text-center"> @row["SACCode"]</td>
                                    <td class="border noborder_bl table-cell text-center">

                                        @if (showDetailedDayCalculation && row["rateCalcType"] == 2 && @row["Days"] == 1)
                                        {

                                            @row["DaysInMonth"]

                                        }
                                        else
                                        {
                                            @row["Days"]
                                        }
                                    </td>
                                    <td class="border table-cell text-center">
                                        @row["CB"]
                                    </td>
                                    <td class="table-cell text-center">@row["Rate"]</td>
                                    <td class="table-cell text-right">@row["SubTotal"].ToString("N", System.Globalization.CultureInfo.InvariantCulture)</td>
                                </tr>


                                borderCss = "";

                            }
                        }

                    }

                    <tr class="table-row spacer-row">
                        <td class="table-cell" colspan="2">&nbsp;</td>

                        <td class="table-cell">&nbsp;</td>
                        <td class="table-cell">&nbsp;</td>
                        <td class="table-cell">&nbsp;</td>
                        <td class="table-cell">&nbsp;</td>
                        <td class="table-cell">&nbsp;</td>
                    </tr>
                    <tr class="table-row">
                        <td colspan="4" rowspan="@rowsToSpanAtBottom" class="border"
                            style="text-align:left; vertical-align:top;padding-top:20px;">

                            In Words: @BAL.Objects.Utils.AmountToWords(Convert.ToDecimal(total))

                            @*
                                       <br /> <br />
                                    @if (ViewBag.LastBill != null && Convert.ToInt16(firstRow["printLastBillDetails"]) == 1)
                                {
                                    <div>
                                        <ul style="list-style:none;">
                                            <li>  <u>Last Bill Details:</u></li>
                                            <li style="padding-top:12px;">Invoice#: @ViewBag.LastBill.InvoiceNumber | Date: @BAL.Objects.Utils.FormatDate(ViewBag.LastBill.InvoiceDate) | Amount: @Math.Round(ViewBag.LastBill.Total, MidpointRounding.AwayFromZero)   </li>
                                        </ul>
                                    </div>
                                    <br />

                                }*@
                            @*@if (ViewBag.PrintBalanceMaterial == true)
                                {
                                    <ul style="list-style:none;">
                                        <li>
                                            <u>Balance Qty:</u>
                                        </li>

                                        @foreach (var b in balanceTable)
                                        {

                                            <li>@b.Product : @b.Quantity</li>


                                        }
                                    </ul>
                                }*@
                            @{
                                <div style="width:100%;background-color:red;">
                                    @*<div style="width:60%;float:left">
                                            @if (ViewBag.PrintBankDetails)
                                            {
                                                <ul style="list-style:none;">
                                                    <li><b>Bank Details</b></li>
                                                    <li>Bank ACC. No: @ViewBag.CompanyInfo.BankAccNumber</li>
                                                    <li>Bank: @ViewBag.CompanyInfo.BankName</li>
                                                    <li>Branch: @ViewBag.CompanyInfo.BankBranch</li>
                                                    <li>IFSC COde: @ViewBag.CompanyInfo.IFSCCode</li>
                                                </ul>
                                            }
                                        </div>

                                        @if (ViewBag.PrintQrCode)
                                        {
                                            <div style="width:40%;float:right;border:none;">
                                                @if (!String.IsNullOrEmpty(Convert.ToString(firstRow["QrCode"])))
                                                {
                                                    <img src="@firstRow["QrCode"]" style="width:120px;height:120px;border:none" />
                                                }
                                            </div>
                                        }*@

                                </div>
                            }
                        </td>
                        <td colspan="2" class="table-cell border noborder_bl" style="vertical-align:top">Sub Total</td>
                        <td class="table-cell border noborder_bl text-right" style="vertical-align:top">@subTotal.ToString("N", System.Globalization.CultureInfo.InvariantCulture)</td>
                    </tr>

                    @{
                        if (firstRow["Freight"] > 0)
                        {

                            <tr class="table-row">

                                <td colspan="2" class="table-cell border noborder_bl">Freight</td>
                                <td class="table-cell border noborder_bl text-right">@firstRow["Freight"].ToString("N", System.Globalization.CultureInfo.InvariantCulture)</td>
                            </tr>

                        }
                    }
                    @{
                        if (breakageCharges > 0)
                        {
                            <tr class="table-row">

                                <td colspan="2" class="table-cell border noborder_bl">Breakage</td>
                                <td class="table-cell border noborder_bl text-right">@breakageCharges.ToString("N", System.Globalization.CultureInfo.InvariantCulture)</td>
                            </tr>
                        }
                    }

                    @{
                        if (lossCharges > 0)
                        {
                            <tr class="table-row">

                                <td colspan="2" class="table-cell border noborder_bl">Loss Charges</td>
                                <td class="table-cell border noborder_bl text-right">@lossCharges.ToString("N", System.Globalization.CultureInfo.InvariantCulture)</td>
                            </tr>
                        }
                    }

                    @{
                        foreach (var charge in charges.Rows)
                        {
                            <tr class="table-row">

                                <td colspan="2" class="table-cell border noborder_bl">@charge["Name"] </td>
                                <td class="table-cell border noborder_bl text-right">@charge["Amount"].ToString("N", System.Globalization.CultureInfo.InvariantCulture)</td>
                            </tr>
                        }
                    }



                    @if (firstRow["discount"] > 0)
                    {
                        <tr class="table-row">
                            <td colspan="2" class="table-cell border noborder_bl">Discount</td>
                            <td class="table-cell border noborder_bl text-right">@firstRow["discount"].ToString("N", System.Globalization.CultureInfo.InvariantCulture) </td>
                        </tr>
                    }
                    @if (firstRow["lossDiscount"] > 0)
                    {
                        <tr class="table-row">
                            <td colspan="2" class="table-cell border noborder_bl">Loss Discount</td>
                            <td class="table-cell border noborder_bl text-right">@firstRow["lossDiscount"].ToString("N", System.Globalization.CultureInfo.InvariantCulture) </td>
                        </tr>
                    }
                    @if (firstRow["breakageDiscount"] > 0)
                    {
                        <tr class="table-row">
                            <td colspan="2" class="table-cell border noborder_bl">Breakage Discount</td>
                            <td class="table-cell border noborder_bl text-right">@firstRow["breakageDiscount"].ToString("N", System.Globalization.CultureInfo.InvariantCulture) </td>
                        </tr>
                    }
                    <tr class="table-row">

                        <td colspan="2" class="table-cell noborder_bl" style="border-bottom:solid 1px">Total</td>
                        <td class="table-cell  text-right" style="border-bottom:solid 1px">@total.ToString("N", System.Globalization.CultureInfo.InvariantCulture)</td>
                    </tr>
                    @{
                        if (firstRow["SignedQrCode"] != DBNull.Value)
                        {

                            <tr>
                                <td colspan="7" class="border noborder_b" style="text-align:center;padding:12px;border-bottom:none;">
                                    <table>
                                        <tr>
                                            <td>
                                                <img src="@firstRow["SingedQrCode"]" style="width:120px;height:120px;" />
                                            </td>
                                        </tr>
                                    </table>

                                </td>
                            </tr>
                        }


                    }



                </tbody>

            </table>

            @{
                if (lossItems != null && lossItems.Rows.Count > 0)
                {
                    <div style="width:100%;page-break-before:auto">
                        <h3>Loss Items</h3>
                        <table border="0" style="width:100%" cellspacing="0">
                            <tr>


                                <td class="header_table" style="border: solid 1px; border-right: 0px;">Description</td>
                                <td class="header_table text-right" style="border: solid 1px; width: 100px; border-right: 0px;">Quantity</td>
                                <td class="header_table text-right" style="border: solid 1px; width: 100px; border-right: 0px;">Rate</td>
                                <td class="header_table text-right" style="border: solid 1px; width: 100px; ">Amount</td>
                            </tr>
                            @foreach (var row in lossItems.Rows)
                            {
                                <tr>
                                    <td style="border: solid 1px; border-top: none; border-right: none;">@row["Item"]</td>
                                    <td style="border: solid 1px; border-top: none; border-right: none;">@row["Quantity"]</td>

                                    <td class="text-right" style="border: solid 1px; border-top: none; border-right: none; ">@row["Rate"]</td>
                                    <td class="text-right" style="border: solid 1px; border-top: none;">@row["Amount"]</td>
                                </tr>
                            }
                        </table>
                    </div>
                }
            }
            @{
                if (breakageItems != null && breakageItems.Rows.Count > 0)
                {

                    <div class="breakage" style="width:100%;">
                        <h3>Breakage Items</h3>
                        <table border="0" style="width:100%" cellspacing="0">
                            <tr>
                                <td class="header_table" style="border: solid 1px; border-right: 0px;">Description</td>
                                <td class="header_table text-right" style="border: solid 1px; width: 100px; border-right: 0px;">Quantity</td>

                                <td class="header_table text-right" style="border: solid 1px; width: 100px; border-right: 0px;">Rate</td>
                                <td class="header_table text-right" style="border: solid 1px; width: 100px; ">Amount</td>
                            </tr>
                            @foreach (var row in breakageItems.Rows)
                            {
                                <tr>
                                    <td style="border: solid 1px; border-top: none; border-right: none;">@row["Item"]</td>
                                    <td style="border: solid 1px; border-top: none; border-right: none;">@row["Quantity"]</td>
                                    <td class="text-right" style="border: solid 1px; border-top: none; border-right: none; ">@row["Rate"]</td>
                                    <td class="text-right" style="border: solid 1px; border-top: none;">@row["Amount"]</td>
                                </tr>
                            }
                        </table>
                    </div>
                }
            }
        </div>
    </div>

</body>
</html>

